
button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    flex-direction: end;
}

body {
    background-color: rgb(243, 243, 243);
    font-family: Arial, Helvetica, sans-serif;
}

.container {
    flex-direction: row;
    display: flex;
    justify-content: space-evenly;
}

.container-list{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 20px;
    color: gray;
}

.container-lenguaje {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.item-lenguaje {
    background-color: gray;
    color: white;
    padding: 10px;
    margin-top: -10px;
}

.item-vertical {
    padding: 10px;
}

.menu-vertical {
    justify-content: center;
    margin-top: 20%;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.contenedor-vertical {
    display: flex;
    background-color: rgb(209, 209, 209);
    margin: 0 40% 0 40%;
    justify-content: space-between;
    
}


.button-vertical{
    background-color: white;
    font-size: 10px;
    align-self: center;
    margin: 10px;
    padding: 3px;
}

.contenedor-centrado{
    padding: 2%;
    background-color: rgb(235, 228, 224);
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 20% 40% 0 40%;
}

.contenedor-centrado h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: rgb(68, 68, 68);
}

.contenedor-centrado p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(68, 68, 68);
}


.contenedor-galeria{
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    gap: 20px;
    flex-wrap: wrap;
    margin: 5%;
}

.cubo{
    background-color: gray;
    flex-direction: column;
    border-radius: 5px;
    text-align: center;
    flex-grow: 1;
    padding: 10%;
    border: 1px solid rgb(128, 128, 128);
    box-shadow: 0 10px 20px rgb(128, 128, 128);
}

.header{
    display: flex;
    justify-content: center;
    padding: 5%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 30px;
    background-color: rgb(209, 207, 207);
    color: rgb(0, 0, 0);
}

article{
    background-color: rgb(223, 221, 221);
    width: 30%; 
    height: 100vh;
}
nav{
    background-color: rgb(128, 128, 128);
    width: 40%;
    height: 100vh;
}

nav h1{
    padding-top: 20px;
    padding-bottom: 20px;
}

aside{
    background-color: rgb(211, 211, 211);
    width: 30%;
    height: 100vh;
}

main{
    display: flex;
    flex-direction: row;
}

footer{
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 68, 68);
}

.body-pricing{
    background-color: rgb(122, 220, 245);
}

.pricing{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    margin: 5%;
}

.box{
    display: flex;
    flex-direction: column;
    background-color: rgb(223, 221, 221);
    width: 50vh;
    height: 90vh;
    border-radius: 10px;
    flex-grow: 1;
    border: 1px solid rgb(255, 255, 255);
    box-shadow: 0 0 20px rgb(80, 79, 79);
}

.headerpass{
    display: flex;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    background-color: rgb(235, 114, 84);
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    padding: 50px;
}

.box p{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    padding: 1px;
    color: rgb(0, 0, 0);
    border-bottom: 1px solid rgb(187, 187, 187);
    margin: 5%;
}

.buttonpass{
    background-color: rgb(202, 202, 202);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    font-weight: bold;
    border-radius: 5px;
    margin-bottom: 20px;
    align-self: center;
    margin-top: auto;
    padding: 20px 60px;
}